stages:
  - build
  - deploy

build_image:
  stage: build
  image: docker:24
  services:
    - docker:24-dind
  before_script:
    - apk add --no-cache yarn
  script:
    - yarn install --frozen-lockfile
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA

deploy_to_k8s:
  stage: deploy
  image: alpine/k8s:1.26.10
  before_script:
    - mkdir -p ~/.kube
    - echo "$KUBE_CONFIG" > ~/.kube/config
  script:
    - kubectl version --client
    - |
      kubectl create secret docker-registry gitlab-registry \
        --docker-server=registry.gitlab.com \
        --docker-username="$GITLAB_REGISTRY_USER" \
        --docker-password="$GITLAB_REGISTRY_PASSWORD" \
        --docker-email=no-reply@gitlab.com \
        -n dadrix --dry-run=client -o yaml | kubectl apply -f -
    - kubectl apply -f kubernetes/01-namespace.yaml
    - kubectl apply -f kubernetes/02-service.yaml
    - envsubst < kubernetes/03-deployment.yaml | kubectl apply -f -
    - kubectl apply -f kubernetes/04-ingress.yaml
  only:
    - main

test_k8s_connection:
  stage: deploy
  image: alpine/k8s:1.26.10
  script:
    - mkdir -p ~/.kube
    - echo "$KUBE_CONFIG" > ~/.kube/config
    - kubectl cluster-info  # Vérifie la connexion
    - kubectl get nodes     # Liste les nœuds disponibles
  only:
    - main
  