stages:
  - build
  - deploy

build_image:
  stage: build
  image: docker:24
  services:
    - docker:24-dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA

deploy_to_k8s:
  stage: deploy
  image: bitnami/kubectl:latest
  before_script:
    - mkdir -p ~/.kube
    - echo "$KUBE_CONFIG" > ~/.kube/config
  script:
    - kubectl version --client
    - kubectl apply -f kubernetes/00-namespace.yaml
    - kubectl apply -f kubernetes/01-service.yaml
    - envsubst < kubernetes/02-deployment.yaml | kubectl apply -f - 
    - kubectl apply -f kubernetes/03-ingress.yaml
  only:
    - main

test_k8s_connection:
  stage: deploy
  image: bitnami/kubectl:latest
  script:
    - mkdir -p ~/.kube
    - echo "$KUBE_CONFIG" > ~/.kube/config
    - kubectl cluster-info  # Vérifie la connexion
    - kubectl get nodes     # Liste les nœuds disponibles
  only:
    - main
  